{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- External CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>MyYouTube</title>
  <link rel = "icon" type = "image/png" href = "{% static 'title_icon.png' %}">
</head>

<body id="bg" style="background-image: url('{% static 'welcome.jpg' %}');background-attachment:fixed;background-repeat:no-repeat;background-size:100% 100%;">
  <div class="maindiv">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/" id="mylogo">MyYouTube</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="alink" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="alink" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="alink" href="{% url 'search' %}">Search</a>
          </li>          
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com"><img src="{% static 'logo.png' %}" height="75" width="100" alt="Youtube logo"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>

      <h2 style="font-size:2rem">Welcome to MyYouTube,a fully functioning Youtube clone.</h2>
      </br>
      <h4 style="font-size:1.5rem">This website is made with Django,a popular python framework.</h4>
      </br>
      <h6 style="font-size:1.5rem">Click on the search in menu to search a video.</h6>
      </div>

    {% block content %}

    {% endblock content %}
  </div>
</body>

</html>